{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": "secret"
  },
  "Ethereum": {
    "ELA": {
        "fee": 0.005,
        "prod": {
          "rpc": "https://api-testnet.elastos.io/ela",
          "account": "The address from which the funds will be drained",
          "privateKey": "Private key of the account"
        }
    },
    "ESC": {
        "milliEtherToTransfer": 1000,
        "gasLimit": "21000",
        "prod": {
          "rpc": "https://api-testnet.elastos.io/esc",
          "account": "The address from which the funds will be drained",
          "privateKey": "Private key of the account"
        }
    },

    "EID": {
        "milliEtherToTransfer": 1000,
        "gasLimit": "21000",
        "prod": {
          "rpc": "https://api-testnet.elastos.io/eid",
          "account": "The address from which the funds will be drained",
          "privateKey": "Private key of the account"
        }
    }
  }
}
